.api-key
src/services/.dirstamp
**/.dirstamp
**/.deps/
**/.libs/
*.o
*.lo
*.a
*.la
*.log
*.trs
config.log
config.status
build.log
Makefile
**/Makefile
autom4te.cache/
src/conch
bin/conch
bin/.dirstamp
*.db
*.db-shm
*.db-wal
tests/test_*
!tests/test_*.cc
config.status
configure~
