.api-key
src/services/.dirstamp
**/.dirstamp
**/.deps/
**/.libs/
*.o
*.lo
*.a
*.la
*.log
*.trs
config.log
config.status
config.h
config.h.in
aclocal.m4
configure
compile
depcomp
install-sh
missing
ltmain.sh
build.log
Makefile
**/Makefile
Makefile.in
**/Makefile.in
autom4te.cache/
src/conch
bin/conch
bin/.dirstamp
*.db
*.db-shm
*.db-wal
tests/test_*
!tests/test_*.cc
config.status
configure~
config.h.in~
